<div ng-controller="HomeCtrl as vm">
    <div class="row">
        <div class="col-xs-12 jumbotron">
            <table width="100%">
                <tr>
                    <td>
                        <h1>Shuri Workers</h1>
                        <p class="lead">Empowering Influencer Marketing</p>
                        <br />&nbsp;
                    </td>
                    <!--<td align="center">
                            <h4 class="">Beta test the App</h4>
                            <div class="">
                                <img src="../../img/appQR.png" />
                            </div>
                            <div class="" style="opacity:60; ">
                                <img src="../../img/appStore.png" height="32" width="106" />
                                <img src="../../img/play.png" height="32" width="79" />
                            </div>
                    </td>-->
                    <!--<td align="center"><img src="https://shuristorage.blob.core.windows.net/cdn/LogoTransparent320.png" alt="Shuri" height="136" width="136" style="vertical-align:middle;" /></td>-->
                </tr>
            </table>
         
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 well-lg">
            <h4>Welcome</h4>

        </div>
        <div class="col-xs-4 well-lg">
            <h4>Developers</h4>
        </div>

    </div>
    <div ng-if="vm.showApp()">
        <h4>Beta Testers</h4>
        <div class="row">
            <div class="col-xs-2 text-center">
                <img src="../../img/app/master.png" />
            </div>
            <!--<div class="col-xs-2 text-center">
                <img src="../../img/app/appQRAC.png" />
            </div>
            <div class="col-xs-2 text-center">
                <img src="../../img/app/appQRDZ.png" />
            </div>
            <div class="col-xs-2 text-center">
                <img src="../../img/app/appQRJC.png" />
            </div>-->
            <div class="col-xs-2 text-center">
                <img src="../../img/app/rickBranch.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 text-center">
                <strong>Master Build</strong>
            </div>
            <!--<div class="col-xs-2 text-center">
                <strong>Andrew Build</strong>
            </div>
            <div class="col-xs-2 text-center">
                <strong>Dylan Build</strong>
            </div>
            <div class="col-xs-2 text-center">
                <strong>Jason Build</strong>
            </div>-->
            <div class="col-xs-2 text-center">
                <strong>Rick Build</strong>
            </div>
        </div>
    </div>
    <div style="height:120px;"></div>


    <div ng-if="false" class="row bgLight">
        <div class="col-xs-12">
            <br />
            <h3>About </h3>
            <p>
                Shuri, Inc. is a privately-held company founded and funded by Rick Shuri to build apps and services for relationship management.  We are currently in pre-venture-capital stage, building systems and taking no prisoners.
            </p>

            <br />
            <h4>Rick Shuri - Founder and System Architect</h4>
            <p>
                With over 30 years experience in finance, IT, and SaaS, Rick is an experienced entrepreneur with a rare blend of strategic vision, business acumen, and deep hands-on technical skills.
                Prior to founding Shuri Inc, he co-founded ARInsights as well as had leadership roles in several other internet start-ups.  Rick was a CRM Program Manager during his eight years at HP and
                and assistant vice president at Wells Fargo Bank for 6 years.  He has a Masters of Science in Information Systems from the University of Colorado and a BS in Finance from Arizona State University.
            </p>
            <br />


            <h4>Our Core Values</h4>

            <ol>
                <li>
                    <strong>Integrity.</strong> In business, as well as in life, it is all about trust.
                    <br />Our reputation is paramount and can only be earned over time by always working to earn our customers' trust.  We conduct all our interactions honestly and openly.  We never misrepresent.  We follow through on promises.
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Passion.</strong> When people take pride in their work, customers know it.
                    <br />We work hard to make sure our customers are satisfied.  If anyone is ever unhappy with our products or services, it becomes our problem and number 1 priority.  Customer satisfaction is the top measure of our success.
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Provide Value.</strong>
                    <br />Our products and services provide tremendous value to our customers, and also return a profit to the company that is shared by all the employee owners.
                    <br />
                    <br />
                </li>
                <li>
                    <strong>Fun.  Laughs. </strong> We have a life.
                    <br />While we expect everyone to "bring their ‘A’ game," we also want to have a lot of fun along the way
                    and maintain a healthy work-life balance.  Shuri  will be a great place to work.  Our business is our employees.
                    <br />
                    <br />
                </li>
            </ol>
        </div>
    </div>

</div>
