<div ng-controller="ImportCtrl as vm">
    <div ng-show="vm.step == 1">
        <div class="row">
            <div class="col-xs-12">
                <h4>Import</h4>
                    <input type="file" id="filesImportControl" accept=".xlsx">
            </div>
        </div>
    </div>
    <div ng-show="(vm.step == 2)">
        <div class="row">
            <div class="col-xs-12">
                <strong>{{vm.myWorksheets.length}} Sheets Found:</strong>
            </div>
        </div>

        <div ng-repeat="sheet in vm.myWorksheets">
            <div class="row">
                <div class="col-xs-12">
                    <h4>{{sheet.name}}</h4> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-striped table-bordered" >
                        <tr>
                            <th>Column</th>
                            <th>Field</th>
                        </tr>
                        <tr ng-repeat="col in sheet.columns">
                            <td>{{$index + 1}} -
                                {{col.name}}
                            </td>
                            <td>
                                {{col.field}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Import as <input ng-model="vm.grpname" type="text" select-on-click /> <button class="btn btn-primary" ng-click="vm.import(sheet)">Import</button>
                </div>
            </div>

        </div>
    </div>
</div>